<div class="container">   
    <main>
        <nav>
            <img src="../../assets/lin_img/linlogo.png">
            <menu>
                <div class="items">
                    <img src="../../assets/lin_img/homelogo.png">
                    <span>Home</span>
                </div>

                <div class="items">
                    <img src="../../assets/lin_img/nwlogo.png">
                    <span>My Network</span>
                </div>

                <div class="items">
                    <img src="../../assets/lin_img/msg.png">
                    <span>Messaging</span>
                </div>

                <div class="items">
                    <img src="../../assets/lin_img/joblogo.png">
                    <span>Jobs</span>
                </div>

                <div class="items">
                    <img src="../../assets/lin_img/bell.png">
                    <span>Notifications</span>
                </div>


                <div class="items">
                    <img src="../../assets/lin_img/msg.png">
                    <span>Messaging</span>
                </div>
               

            </menu>
        </nav>

       <div class="container2">

            <div class="sectionpost">
                <menu>
                    <div class="items1">
                        <i class='fa fa-bookmark'></i>
                        <a href="">My Jobs</a>
                        
                    </div>
                
                    <div class="items1">
                        <i class="fa fa-bell"></i>
                        <a href="">Job Alerts</a>
                        
                    </div>
                
                    <div class="items1">
                        <i class='fa fa-cc-paypal'></i>
                        <a href="">Salary</a>
                       
                    </div>
               
                    <div class="items1">
                        <i class='fa fa-file'></i>
                        <a href="">Interview Prep</a>
                       
                    </div>

                    <div class="items1">
                        <a href="">More</a>
                        
                    </div>

                </menu>

                <button class="postbtn"> <i class='fa fa-file'></i>Post a free job</button>


            </div>

            <div class="sectionsearch">
                <p>Search for your next job</p>
                <form class="inp">
                    <input type="text" placeholder="            Search by title skill or company">
                    <input type="text" placeholder="            India">
                    <button>Search</button>
                </form>
                
            </div>

            <div class="listings">
                <div class="listheading">
                    <h3>Recommended for you</h3>
                    <p>Based on your profile and search history</p>
                </div>
                <ul class="listings_grid">
                    <li class="card">
                        <img src="../../assets/lin_img/linlogo.png" class="card_logo">
                        <p class="card_role">Hiring - Private IT Teachers & Tutors</p>
                        <p class="card_company">Superprof</p>
                        <p class="card_company">Guntur,Andhra Pradesh</p>
                        <p class="card_company textsm mt">Actively recruting</p>
                        <hr class="card_sep">
                        <p class="card_company textsm">1 month ago</p>
                    </li>

                    <li class="card">
                        <img src="../../assets/lin_img/linlogo.png" class="card_logo">
                        <p class="card_role">Software engineer</p>
                        <p class="card_company">Microsoft</p>
                        <p class="card_company">location eluru</p>
                        <p class="card_company textsm mt">Actively recruting</p>
                        <hr class="card_sep">
                        <p class="card_company textsm">1day ago</p>
                    </li>

                    <li class="card">
                        <img src="../../assets/lin_img/linlogo.png" class="card_logo">
                        <p class="card_role">Web Developer</p>
                        <p class="card_company">Vpublications</p>
                        <p class="card_company">Visakapatnam,Andhra</p>
                        <p class="card_company textsm mt">Actively recruting</p>
                        <hr class="card_sep">
                        <p class="card_company textsm">2 weeks ago</p>
                    </li>

                    <li class="card">
                        <img src="../../assets/lin_img/linlogo.png" class="card_logo">
                        <p class="card_role">Network engineer</p>
                        <p class="card_company">Microsoft</p>
                        <p class="card_company">location United States</p>
                        <p class="card_company textsm mt">Actively recruting</p>
                        <hr class="card_sep">
                        <p class="card_company textsm">1 month ago</p>
                    </li>

                    <li class="card">
                        <img src="../../assets/lin_img/linlogo.png" class="card_logo">
                        <p class="card_role">Web Developer</p>
                        <p class="card_company">Lenovo</p>
                        <p class="card_company">Bengaluru,Karnataka,India</p>
                        <p class="card_company textsm mt"></p>
                        <hr class="card_sep">
                        <p class="card_company textsm">1day ago</p>
                    </li>

                    <li class="card">
                        <img src="../../assets/lin_img/linlogo.png" class="card_logo">
                        <p class="card_role">Software engineer</p>
                        <p class="card_company">Microsoft</p>
                        <p class="card_company">location eluru</p>
                        <p class="card_company textsm mt">Actively recruting</p>
                        <hr class="card_sep">
                        <p class="card_company textsm">1day ago</p>
                    </li>

                    <li class="card">
                        <img src="../../assets/lin_img/linlogo.png" class="card_logo">
                        <p class="card_role">Software engineer</p>
                        <p class="card_company">Microsoft</p>
                        <p class="card_company">location eluru</p>
                        <p class="card_company textsm mt">Actively recruting</p>
                        <hr class="card_sep">
                        <p class="card_company textsm">1day ago</p>
                    </li>

                    <li class="card">
                        <img src="../../assets/lin_img/linlogo.png" class="card_logo">
                        <p class="card_role">Software engineer</p>
                        <p class="card_company">Microsoft</p>
                        <p class="card_company">location eluru</p>
                        <p class="card_company textsm mt">Actively recruting</p>
                        <hr class="card_sep">
                        <p class="card_company textsm">1day ago</p>
                    </li>

                    <li class="card">
                        <img src="../../assets/lin_img/linlogo.png" class="card_logo">
                        <p class="card_role">Software engineer</p>
                        <p class="card_company">Microsoft</p>
                        <p class="card_company">location eluru</p>
                        <p class="card_company textsm mt">Actively recruting</p>
                        <hr class="card_sep">
                        <p class="card_company textsm">1day ago</p>
                    </li>
                    
                </ul>
                

            </div>
        
        </div>

    </main>
</div>