
<div class="container">
    <nav>
        <div class="left">edyst</div>
        <div class="right">
            <div class="item">
                <a href="">Courses</a>
            </div>
            <div class="item">
                <a href="">Testimonials</a>
            </div>
            <div class="item">
                <a href="">Jobs</a>
            </div>
            <div class="item">
                <p>Forums</p>
            </div>
            <div class="item">
                <p>logo</p>
            </div>
            
            <div class="item">
                <p>pro</p>
            </div>
            <div class="item">
                <p>pro</p>
            </div>

        </div>
    </nav>
    <body>
        <p style="padding: 1.4% 0% 1.2% 0.8%;">My Dashboard </p>
        <div class="cohortsblock">
            <div class="para">
                <p style="padding: 1.4%;">My Cohorts(n)</p>
            </div>
            <div class="cohorts"> 
                <div class="mod">
                    <div class="modname mod1">

                    </div>
                    <div class="progress">
                        
                    </div>
                </div>

                <div class="mod">
                    <div class="modname mod2">

                    </div>
                    <div class="progress">
                        
                    </div>
                </div>

                <div class="mod">
                    <div class="modname mod3">

                    </div>
                    <div class="progress">
                        
                    </div>
                </div>

                <div class="mod">
                    <div class="modname mod4">

                    </div>
                    <div class="progress">
                        
                    </div>
                </div>
            </div>
        </div> 

        <p style="padding:8px 20px 15px 0px;text-align: right;">Show More Cohorts (2) <i class="fa fa-angle-double-down" style="font-size:30px;"></i></p>

        <div class="three">

            <div class="pro">
                <div class="profile">
                    <div class="prohead">
                        <p style="padding: 12px;border-bottom: 1px solid #eafbff;">My Profile</p>
                    </div>
                    <div class="proin">
                        <div class="proimg">
                            <img src="../../assets/edy_img/abt1.jpg" alt="" width="58px" height="58px">
                        </div>
                        <div class="promat">
                            <h3 style="font-weight: 550; font-size: 16px;padding-bottom:8px ;">Teja Chalumuri</h3>
                            <p>Your Profile is <b>35%</b> complete</p>
                            <a href="#">Update Profile</a>
                        </div>
                    </div>  
                </div>
                <div class="profile jobs">
                    <p>Latest Jobs <a href="#">View All</a></p>
                </div>
            </div>
           

            <div class="updates">
                <div class="head">
                    <div class="he news">Cohort News</div>
                    <div class="he tv">Edyst TV</div>
                    <div class="he con">Contests</div>
                </div>

                <ul>

                    <li class="white">  
                            <div class="propic">
                                <img src="../../assets/edy_img/abt1.jpg" alt="" width="39px" height="39px" style="border-radius: 50%;">
                            </div>
                            <div class="mat">
                                <p style="font-size: 13px;"><b>Ashu</b> completed <b>Pairwise sum of corresponding bit differences</b></p>
                                <p style="font-size: 13px;padding-top: 2.5px;">25 minute ago</p>
                            </div>
                    </li>

                    <li class="black">  
                            <div class="propic">
                                <img src="../../assets/edy_img/abt1.jpg" alt="" width="39px" height="39px" style="border-radius: 50%;">
                            </div>
                            <div class="mat">
                                <p style="font-size: 13px;"><b>Teja</b> completed <b>Longest Common Substring</b></p>
                                <p style="font-size: 13px;padding-top: 2.5px;">40 minute ago</p>
                            </div>    
                    </li>
                    <li class="white">  
                        <div class="propic">
                            <img src="../../assets/edy_img/abt1.jpg" alt="" width="39px" height="39px" style="border-radius: 50%;">
                        </div>
                        <div class="mat">
                            <p style="font-size: 13px;"><b>Madhu</b> completed <b>Roman to Integer</b></p>
                            <p style="font-size: 13px;padding-top: 2.5px;">50 minute ago</p>
                        </div>
                    </li>

                    <li class="black">  
                            <div class="propic">
                                <img src="../../assets/edy_img/abt1.jpg" alt="" width="39px" height="39px" style="border-radius: 50%;">
                            </div>
                            <div class="mat">
                                <p style="font-size: 13px;"><b>Ravi</b> completed <b>Min Steps in Infinite Grid</b></p>
                                <p style="font-size: 13px;padding-top: 2.5px;">1 hour ago</p>
                            </div>    
                    </li>
                    <li class="white">  
                        <div class="propic">
                            <img src="../../assets/edy_img/abt1.jpg" alt="" width="39px" height="39px" style="border-radius: 50%;">
                        </div>
                        <div class="mat">
                            <p style="font-size: 13px;"><b>Mahima</b> completed <b>Pairwise sum of corresponding bit differences</b></p>
                            <p style="font-size: 13px;padding-top: 2.5px;">2 hours ago</p>
                        </div>
                    </li>

                    <li class="black">  
                            <div class="propic">
                                <img src="../../assets/edy_img/abt1.jpg" alt="" width="39px" height="39px" style="border-radius: 50%;">
                            </div>
                            <div class="mat">
                                <p style="font-size: 13px;"><b>Ashu</b> completed <b>Pairwise sum of corresponding bit differences</b></p>
                                <p style="font-size: 13px;padding-top: 2.5px;">25 min ago</p>
                            </div>    
                    </li>
  
                </ul>


            </div>


            <div class="classes">
                <div class="live">
                    <p>Live Classes <a href="#">View All</a></p>
                </div>
                <div class="head2">
                    <div class="he upcmg">
                        <p>All Upcoming..</p>
                    </div>
                    <div class="he past">
                        <p>All Past Classes</p>
                    </div>
                </div>

                <div class="card">
                    <div class="teach">
                        <div class="tpic">
                            <img src="../../assets/edy_img/abt1.jpg" alt="" width="62px" height="62px" style="border-radius: 50%;border: 1px solid #e0e0e0;">
                        </div>
                        <div class="tmat">
                            <p>Intro to Linked Lists | </p>
                            <p>SRKR AADS 2022</p>
                            <p><i>Mahima Sharma</i> </p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>View Class</button>
                    </div>

                    <div class="times">
                        <div class="left1">
                            <p><b>Date</b></p>
                            <p><b>Duration</b></p>
                            <p><b>Registration</b></p>
                        </div>
                        <div class="right1">
                            <p>25th May 2021,6:00 PM</p>
                            <p>2 hours 0 minute</p>
                            <p>134/300</p>
                        </div>
                    </div>  
                </div>

                <div class="card">
                    <div class="teach">
                        <div class="tpic">
                            <img src="../../assets/edy_img/abt1.jpg" alt="" width="62px" height="62px" style="border-radius: 50%;border: 1px solid #e0e0e0;">
                        </div>
                        <div class="tmat">
                            <p>Intro to Linked Lists | </p>
                            <p>SRKR AADS 2022</p>
                            <p><i>Devang Sharma</i> </p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>View Class</button>
                    </div>

                    <div class="times">
                        <div class="left1">
                            <p><b>Date</b></p>
                            <p><b>Duration</b></p>
                            <p><b>Registration</b></p>
                        </div>
                        <div class="right1">
                            <p>25th May 2021,6:00 PM</p>
                            <p>2 hours 0 minute</p>
                            <p>134/300</p>
                        </div>
                    </div>  
                </div>

                <div class="card">
                    <div class="teach">
                        <div class="tpic">
                            <img src="../../assets/edy_img/abt1.jpg" alt="" width="62px" height="62px" style="border-radius: 50%;border: 1px solid #e0e0e0;">
                        </div>
                        <div class="tmat">
                            <p>Intro to Linked Lists | </p>
                            <p>SRKR AADS 2022</p>
                            <p><i>Mahima Sharma</i> </p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>View Class</button>
                    </div>

                    <div class="times">
                        <div class="left1">
                            <p><b>Date</b></p>
                            <p><b>Duration</b></p>
                            <p><b>Registration</b></p>
                        </div>
                        <div class="right1">
                            <p>25th May 2021,6:00 PM</p>
                            <p>2 hours 0 minute</p>
                            <p>134/300</p>
                        </div>
                    </div>  
                </div>

                
            </div>
        </div>

    </body>
</div>