<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<nav>
  <div class="logo">
    <img src="../../assets/lin_img/google.png">
    <p>The Keyword</p>
  </div>
  <div class="menu">
    <div class="left">
      <a href="">Latest stories</a>
      <a href="">Product updates</a>
      <a href="">Company news</a>
    </div>
    <div class="right">

    </div>
  </div>
</nav>

<main>
  <div class="hero">
    <img src="../../assets/lin_img/ghero.png" alt="">

    <section class="hero_mat">
      <p class="cap1">PHOTOS</p>
      <h1 class="bighead">New Cinematic photos and more ways to relive your Memories</h1>
      <p class="mat">Memories brought to life with Cinematic photos,uodated collage designs and features highlightiong
        your favorite activities.</p>
      <p class="cap2">READ ARTICLE ></p>
    </section>
  </div>
  <section class="threeimages">
    <div class="th th1">
      <p class="cap2">GOOGLE SHOPPING</p>
      <h3>Shopping for a beauty product?Try it on with Google.</h3>
      <img src="../../assets/lin_img/conn.jpg" alt="">

    </div>
    <div class="th th2">
      <p class="cap2">MAPS</p>
      <h3>Shopping for a beauty product?Try it on with Google.</h3>
      <img src="../../assets/lin_img/conn.jpg" alt="">

    </div>
    <div class="th th3">
      <p class="cap2">GOOGLE TV</p>
      <h3>Shopping for a beauty product?Try it on with Google.</h3>
      <img src="../../assets/lin_img/conn.jpg" alt="">

    </div>
  </section>

  <section class="collection">
    <p class="cap2" style="padding-top:20px;padding-bottom: 8px;">COLLECTION</p>
    <h1 class="bighead">Help and how-to's for the holidays</h1>
    <p class="colp">2020's best Google tools and tips to help out during the holidays.</p>
  </section>

  <section class="threeimages">
    <div class="th_box">

      <div class="matter">
        <h3>How to host a group video call to celebrate the holidays</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque quibusdam incidunt suscip</p>
      </div>

    </div>
    <div class="th_box">
      <div class="matter">
        <h3>How to host a group video call to celebrate the holidays</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quam libero quae eveniet maxime? C</p>
      </div>
    </div>
    <div class="th_box">
      <div class="matter">
        <h3>How to host a group video call to celebrate the holidays</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quam libero quae eveniet maxime? C</p>
      </div>
    </div>
  </section>

  <p class="cap2" style="text-align: center;">VIEW THIS COLLECTION > </p>

  <section class="stories">
    <h1 class="bighead">All stories</h1>
    <div class="story">
      <div>
        <p class="cap2">DEC 21 / PASSION PROJECTS</p>
        <h2>Three years training, 13 hours swimming, one major feat</h2>
      </div>
      <img src="../../assets/lin_img/conn.jpg" alt="" height="100px" width="200px">
    </div>
    <div class="story">
      <div>
        <p class="cap2">DEC 21 / PASSION PROJECTS</p>
        <h2>Three years training, 13 hours swimming, one major feat</h2>
      </div>
    </div>
    <div class="story">
      <div>
        <p class="cap2">DEC 21 / PASSION PROJECTS</p>
        <h2>Three years training, 13 hours swimming, one major feat</h2>
      </div>
    </div>
    <div class="story">
      <div>
        <p class="cap2">DEC 21 / PASSION PROJECTS</p>
        <h2>Three years training, 13 hours swimming, one major feat</h2>
      </div>
    </div>
    <div class="story">
      <div>
        <p class="cap2">DEC 21 / PASSION PROJECTS</p>
        <h2>Three years training, 13 hours swimming, one major feat</h2>
      </div>
    </div>
    <div class="story">
      <div>
        <p class="cap2">DEC 21 / PASSION PROJECTS</p>
        <h2>Three years training, 13 hours swimming, one major feat</h2>
      </div>
    </div>
    <div class="story">
      <div>
        <p class="cap2">DEC 21 / PASSION PROJECTS</p>
        <h2>Three years training, 13 hours swimming, one major feat</h2>
      </div>
    </div>

  </section>
  <div class="button1">
    <p>LOAD MORE STORIES</p>
  </div>
</main>

<footer>
  <main>
    <div class="sm">
      <p>Follow Us</p>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-youtube"></a>
    </div>
  </main>
</footer>
